<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Document</title>

</head>
<body>


<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5" style="list-style: none">
        <a class="navbar-brand" href="#" @click.prevent="page='index'">MediCALL</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="#" @click.prevent="getServices">Сервисы</a>
                <a class="nav-link" href="#" @click.prevent="getDoctors">врачи</a>
                <a class="nav-link" href="#" @click.prevent="goToSerch">Поиск</a>
                <a class="nav-link" href="#" @click.prevent="page = 'register'">Зарегистрироваться</a>
                <a class="nav-link" href="#" @click.prevent="page = 'login'">авторизироваться</a>
<!--                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginForm">Вход в личный кабинет-->
<!--                    (неавторизованный)</a>-->
            </div>
        </div>
    </nav>
    <div v-if="page==='index'" class="text-center">
        <h1>Добро пожаловать в поликлинику MediCALL</h1>
        <span class="fs-4">следуйте навигации сверху</span>
    </div>
    <div class="card mb-5" v-if="page==='services'">
        <div class="card-header">
            <h2>сервисы</h2>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Название сервиса</th>
                        <th>возможность записаться</th>
                        <th>картинка</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="service in services">
                        <td>{{service.id}}</td>
                        <td>{{service.name}}</td>
                        <td>{{service.after_GP ? "только после терапевта" : "свободная запись"}}</td>
                        <td><img :src="service.img" alt=""></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mt-4 mb-5" v-if="page==='doctors'">
        <div class="card" v-show="doctors">
            <div class="card-header">


                <h2>Врачи</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>фамилия имя отчество</th>
                        <th>фото</th>
                        <th>специализация</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="doc in doctors">
                        <td>{{doc.id}}</td>
                        <td>{{doc.fio}}</td>
                        <td><img :src="doc.photo" alt=""></td>
                        <td>{{doc.services.name}}</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" v-if="page==='searchByService'">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><h3>Поиск по сервису</h3></div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="selcat">Выбрать сервис</label>
                        <select v-model="selectService" v-on:change="getDoctorByService" name="selcat" id="selcat"
                                class="form-control">
                            <option value="">-</option>
                            <option :value="service.id" v-for="service in services">{{service.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4 mb-5" v-if="page==='searchByService'" v-show="doctorsByServ.success">
        <div class="card">
            <div class="card-header">
                <h2>Врачи по нужному сервису</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>фамилия имя отчество</th>
                        <th>фото</th>
                        <th>специализация</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="doc in doctorsByServ.data">
                        <td>{{doc.id}}</td>
                        <td>{{doc.fio}}</td>
                        <td><img :src="doc.photo" alt=""></td>
                        <td>{{doc.services.name}}</td>
                    </tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="card mt-4 mb-5"  v-if="page==='register' && !jwt">
        <div class="card">
            <div class="card-header">
                <h2>Регистрация</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="mb-1">
                        <input type="text" v-model="registrationForm.name" class="form-control"
                               id="name" placeholder="Имя">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-1">
                        <input type="text" v-model="registrationForm.email" class="form-control"
                               id="email" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-1">
                        <input type="password" v-model="registrationForm.password"
                               class="form-control" id="password" placeholder="Пароль">
                    </div>
                </div>
                <div class="mt-4"
                     v-if="registrationResponce && !registrationResponce.status"><!--  -->
                    <div class="alert alert-danger"
                         v-for="err in registrationResponce.error" role="alert">
                        {{err[0]}}
                    </div>
                </div>
                <div class="mt-4"
                     v-if="registrationResponce && registrationResponce.status"><!--  -->
                    <div class="alert alert-success" role="alert">
                        <pre>Токен: {{registrationResponce.body.token.access_token}}</pre>
                        <h2>Регистрация успешна!</h2>
                    </div>
                </div>
                <div class="">
                    <button type="button" class="btn btn-primary" v-on:click="register">
                        Регистрация
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-lg-5" id="loginForm" tabindex="-1" aria-labelledby="loginFormLabel" aria-hidden="true" v-if="page === 'login' && !jwt">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Авторизация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="login" class="form-label">Электронная почта</label>
                        <input v-model="loginForm.email" type="text" class="form-control"
                               id="login"/>
                    </div>
                    <div class="mb-3">
                        <label for="passwordlogin" class="form-label">Пароль</label>
                        <input v-model="loginForm.password" type="password" class="form-control"
                               id="passwordlogin"/>
                    </div>
                </div>

                <div class="mt-4" v-if="loginResponse && !loginResponse.status">
                    <div class="alert alert-danger"
                         v-for="err in loginResponse.error" role="alert">
                        {{err[0]}}
                    </div>
                </div>
                <div class="mt-4" v-if="loginResponse && loginResponse.status === false">
                    <div class="alert alert-danger"role="alert">
                        {{loginResponse.body}}
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Отмена
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="login">Войти</button>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="row mb-5" v-if="page==='search'">-->
<!--        <div class="col-md-6">-->
<!--            <div class="card">-->
<!--                <div class="card-header"><h3>Поиск по названию товара</h3></div>-->
<!--                <div class="card-body">-->
<!--                    <label htmlfor="searchInputTovar">Введите название товара</label>-->
<!--                    <input v-model="searchInputTovar" v-on:change="searchTovar" type="text"-->
<!--                           class="form-control" id="searchInputTovar ">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card mt-4 mb-5">-->
<!--        <div class="card" v-show="tovars.data">-->
<!--            <div class="card-header">-->
<!--                <h2>Товары</h2>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <table class="table table-bordered">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>id</th>-->
<!--                        <th>Название товара</th>-->
<!--                        <th>id категории</th>-->
<!--                        <th>Цена</th>-->


<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr v-for="tovar in tovars.data">-->
<!--                        <td>{{tovar.id}}</td>-->
<!--                        <td>{{tovar.name}}</td>-->
<!--                        <td>{{tovar.category_id}}</td>-->

<!--                        <td>{{tovar.cena}}</td>-->
<!--                        <td>{{tovar.date}}</td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->

<!--                &lt;!&ndash;  &ndash;&gt;-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!--    <div v-if="api_token && userData.id" class="mb-5">-->
<!--        Здравсвуйте, {{api_token }}-->
<!--        <button type="button" class="btn btn-primary" @click="logout">Выйти</button>-->
<!--    </div>-->


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="assets/js/vue.js"></script>
<script src="main.js"></script>

</body>
</html>