.Reception {
  margin-bottom: 20px;
}

.res {
  width: 288px;
  //font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}